html {
  box-sizing: border-box;
	font-size: 62.5%; /**Reset para REMS -62.5% = 10px de 16px*/
}

*, *:before, *:after {
  box-sizing: inherit; /**Reset para REMS -62.5% = 10px de 16px*/
}

body{ /*este selector va a aplicar a todo el body*/
	font-family: 'Lato', sans-serif;
	font-size: 1.6rem;
	line-height: 2; /*interlineado*/
}

/**Globales**/

img{ /*selector global para imagenes responsives*/
 	max-width: 100%;
}

.contenedor{
	max-width: 120rem; /*centrar contenido =1200px*/
	margin: 0 auto;
}

h1{
	font-size: 3.8rem;
}

h2{
	font-size: 3.4rem;
}

h3{
 	font-size: 3rem; 
}

h4{
 	font-size: 2.6rem;
}

/**Utilidades**/

.seccion{
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.fw-300{ /*color de forndo de la fuente*/
	font-weight: 300;
}

.centrar-texto{ /*centrar texto de la fuente*/
	text-align: center;	
}

.d-block{
	display: block!important;
}

.contenido-centrado{ /*para centrar el contenido y que no sea dificil de visulizar*/
	max-width: 800px;
}

/**BOTONES**/

.boton{
	color:white;
	font-weight: 700;
	text-decoration: none;
	font-size: 1.8rem;
	padding: 1rem 3rem;
	margin-top: 3rem;
	display: inline-block;
	text-align: center;

}

.boton-amarillo{
	background-color: #E0B709;
	}

.boton-verde{
	background-color: #71B100;
}

/*Header*/

.site-header{ /*paginas internas*/
	background-color: #333333;
	padding: 1rem 0 3rem 0;
}

.site-header.inicio{ /*Para darle a ambas clases el mismo estilo, se coloca de la manera mostrada*/
	background: url(../imagenes/header.jpg); /*Para agregar imagen de fondo*/
	background-repeat: no-repeat; /*No repetición de la imagen*/ 
	background-position: center center; 
	background-size: cover; /*se muestra completa la imagen*/
	height: 100vh; /*Para que quede al tamaño justo de nuestra pantalla*/
	min-height: 60rem; /*para que vh mida minimo 600px y no daño el diseño*/	
}	

.contenido-header{
	height: 100%; /*no se pase del 100%*/
	display: flex;
	flex-direction: column; /*para modificar en columna*/
	justify-content: space-between; /*para hacer el espacio de manera vertical*/
}

.contenido-header h1{
	color:white;
	padding-bottom: 2rem;
	max-width: 60rem; /*cortar el titulo*/
	line-height: 2; /*interlineador del titulo*/
}

.barra{
	display: flex;
	justify-content: space-between; /*Alinear uno a la izq y otro hacia la derecha*/
	padding-top: 3rem; /*Espacio hacia dentro del elemento*/
	align-items: center; /*Alinea verticalmente el logo como los enlaces*/
}

/*navegacion*/
.navegacion a{
	color:white;
	text-decoration: none; /*Quitar decoracion al texto*/
	font-size: 1.8rem; /*Tamaño de la fuente, 1.8rem = 18px*/
	margin-right: 2rem /*Separacion con el siguiente elemento*/
}

.navegacion a:hover{ /*cuandos ea subrayado se vuelva verde*/
	color: #71B100;

}
.navegacion a:last-of-type{ /*seudo selectores para seleccionar el primer o ultimo elemento*/
	margin:0;
} 

/**Iconos nosotros**/

.icono-nosotros{
	display:flex; /*padre de iconos FLEXBOX*/
	justify-content: space-between; /*espacio entre los elementps */
}

.icono{
	flex-basis: calc(33.3% - 1rem); /*para dar el ancho de los elementos*/
	text-align: center; 

}

.icono h3{
	text-transform: uppercase;
}

/**ANUNCIOS**/

.contenedor-anuncios{
	display:flex;
	justify-content: space-between;
	flex-wrap: wrap; /*pasarla a el padre para que se posiciones los elementos debajo*/
}

.anuncio{
	flex: 0 0 calc(33.3% - 1rem);
	border: 1px solid #B5B5B5;
	background-color: #F5F5F5;
	margin-bottom: 2rem; /*separacion de los elementos*/

}

.contenido-anuncio{
	padding: 2rem; /*aplica el margen en todas las direcciones*/
}

.contenido-anuncio h3,
.contenido-anuncio p {
	margin: 0;
}

.precio{
	color: #71B100;
	font-weight: 700;
}

.iconos-caracteristicas{
	list-style: none;
	padding: 0;
	display: flex;
	justify-content: space-around;
	flex: 1;
	max-width: 500px;
}

.iconos-caracteristicas li{
	/*flex: 1;*/
	display: flex;
}

.iconos-caracteristicas li img{
	margin-right: 2rem;
}

.ver-todas{
	display: flex;
	justify-content: flex-end; /*para ponerlo a la ixquierda*/
}

/**Contacto Home**/

.imagen-contacto{
	background-image: url(../imagenes/encuentra.jpg);
	height: 40rem;
	background-position: center;
	background-size: cover;
	display: flex;
	align-items: center;

}

.contenido-contacto{
	flex: 1;
	color: #FFFFFF;
}

.contenido-contacto p{
	font-size: 1.8rem;
}

/**Seccion Inferior**/

.seccion-inferior{
	display: flex;
	justify-content: space-between;
}

.seccion-inferior .blog{
	flex-basis: 60%;
}

.seccion-inferior .Testimoniales{
	flex-basis: calc(40% - 2rem);
}


.entrada-blog{
	display: flex;
	justify-content: space-between;
	margin-bottom: 2rem; /*para dar separación entre los elementos*/
}

.entrada-blog: last-of-type{
	margin-bottom: 0;
}
.entrada-blog .imagen{
	flex-basis: 40%;
}

.entrada-blog .texto-entrada{
	flex-basis: calc(60% - 3rem);
}

.texto-entrada a{
	color: #000000;
	text-decoration: none; /*Para quitar la linea que subraya el text de enlace*/
}
.texto-entrada h4{
	margin: 0; /*elimina el margin*/
	line-height: 1.4; /*interlineado*/
} 

.texto-entrada h4::after{ /*linea de bajo del heading h4 Seudo elemnto*/
	/*content: 'Hola'; pseudoelementos*/
	display: block;
	width: 15rem;
	height: .5rem;
	background-color: #71B100;
	margin-top:  1rem;
}

.texto-entrada span{
	color: #E08709;
}


/*Testimoniales**/

.testimonial{
	background-color: #71B100; /*colocarle fondo*/
	font-size: 2.4rem;
	padding: 2rem;
	color: #FFFFFF;
	border-radius: 2rem; /*para bordar las puntas del background*/
}

.testimonial p{
	text-align: right;
}

.testimonial blockquote::before{ /*para poner la comilla en el testimonial*/
	content: '';
	background-image: url(../imagenes/comilla.svg);
	width: 4rem;
	height: 4rem;
	/*display: block; /*siempre que haya width y height*/
	position: absolute; /*hijo siempre absolute*/
	left: -2rem;
}

.testimonial blockquote {
	position: relative; /*padre siempre relative*/
	padding-left: 5rem;
	font-weight: 300;
}

/*FOOTER*/
.site-footer {
	background-color: #333333;
	margin: 0;
}

.contenedor-footer{
	padding: 3rem 0;
	display: flex;
	justify-content: space-between;
}

.copyright{
	margin: 0;
	color: #FFFFFF;	
}

/**INTERNAS**/
/*Pagina Nosotros*/

.contenido-nosotros{
	display: grid; /*parecido a flexbox**/
	grid-template-columns: 50% 50%; /*Aqui se define el layout*/	
	grid-column-gap: 2rem; /*hacer la separacion entre los elementos*/
}

.texto-nosotros blockquote{
	font-weight: 900;
	font-size: 2rem;
	margin: 0;
	padding:  1rem 0 3rem 0 ;
}

/** Pagina anexa Anuncio**/
.resumen-propiedad{
	display: flex;
	justify-content: space-between; /*horizontalmente alinea*/
	align-items: center; /*alinea verticalmente*/
}

/** Pagina de Contacto Formulario**/

label{
	display: block; /*hacer que se tome todo el espacio disponible*/
}